button.rdv-doctolib {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space;
  background: $doctolib;
  border-radius: 8px;
  border: none;
  box-shadow: $shadow;
  &:hover {
    background: #0362af;
  }
  &.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: $space*2 $space;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
}
