.curriculum {
  padding: $space;
  border-top: 1px solid $primary;
  &:nth-child(1) {
    border-top: none;
  }
  .article-content{
    display: flex;
    justify-content: flex-start;
    gap: 10px 30px;
    margin-top: 10px;
  }
}