.home {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: $space;
  .presentation {
    display: flex;
    flex-direction: row-reverse;
    gap: $space;
    .presentation__text {
      display: flex;
      flex-direction: column;
      gap: $space;
      background: #FFF;
      border: 1px solid $primary;
      border-radius: 15px;
      box-shadow: $shadow;
      padding: $space;
      width: 50%;
      height: 600px;
      & h2 {
        text-align: center;
      }
    }
  }
  .article-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      padding: $space 0;
    }
  }
  h3 {
    align-self: start;
    color: $secondary;
    & ~ p {
      padding-top: 0!important;
    }
  }

  @media screen and (max-width: 830px) {
    .presentation {
      flex-direction: column-reverse;
      .presentation__text {
        width: 100%;
      }
    }
  }
}