.profiles {
  background: transparent;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: $space;
  grid-template-areas: 
    "F F"
    "E N";
  .floriane {
    grid-area: F;
  }
  .eucelia {
    grid-area: E;
  }
  .noemie {
    grid-area: N;
  }
  .article-card {
    display: flex;
    gap: 30px;
  }
  h2 {
    border-radius: $radius $radius 0 $radius;
    width: 300px;
    box-shadow: -1px 1px $primary;
    text-shadow: 1px 1px $primary;
    padding: $space;
    border-top: none;
    border-right: none;
    background: $white-gradient;
  }
  .datas {
    background: #FFF;
    border-radius: $radius;
  }
  img {
    border-radius: $radius;
    max-height: 600px;
    max-width: 513px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-top: 5px;
  }
  @media screen and (max-width: 1520px) {
    .eucelia, .noemie {
      flex-direction: column;
      background: #FFF;
    }
  }
  @media screen and (max-width: 1100px) {
    img {
      display: none;
    }
    .floriane {
      flex-direction: column;
      background: #FFF;
    }
  }
  @media screen and (max-width: 740px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 387px) {
    h2 {
      padding-right: 0;
      padding-left: 0;
      width: auto;
    }
  }
}