::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: $secondary;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 7px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s;
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url(../assets/Croquis.jpg) center/cover fixed;
}

.home, .blog, .profiles, .contact .container {
  padding: $space;
  margin: 0 $space*4 30px $space*4;
  background: #FFF;
  border-radius: $radius;
  @media screen and (max-width: 600px) {
    margin: 0 $space 30px $space;
    padding: 0;
  }
}


.article-card {
  @include card;
}

.blue-container {
  background: $white;
}

.white-container {
  background: #FFF;
}