@mixin card {
  border: 1px solid $primary;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: $space;

}

@mixin slide {
  padding: $space;
  border-radius: $radius;
  box-shadow: $shadow;
}