body.dark {
  #root {
    background: rgba($color: #000, $alpha: .6);
  }
  .title {
    background: rgba($color: #000, $alpha: .6);
  }
  .nav-container {
    background: rgba($color: #000, $alpha: .4);
    .navActive {
      background: rgba($color: #FFF, $alpha: .4);
    }
  }
  .home, .blog{
    background: #888;
  }
  .article-card, .presentation .presentation__text, .contact .container {
    background: $black;
    color: $darkmode-font;
  }
  .profiles h2 {
    background: transparent;
    text-shadow: none;
  }
  .curriculum, .datas {
    background: $secondary;
    border-radius: $radius;
  }
}