.footer {
  // position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space;
  background: $secondary;
  padding: $space / 2;
  z-index: 2;
  a:hover {
    transform: scale(1.3);
  }
}