.header {
  position: relative;
  border: none;
  height: 220px;
  margin-bottom: 100px;
  background: rgba(116, 235, 223, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .header-bg {
    width: 100%;
    height: 100%;
  }
  .title {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: $space $space*3;
    border-bottom: 0;
    height: 100%;
    width: 100%;
    .title-content {
      padding: 0 $space $space $space;
    }
    .title-img {
      height: 100%;
      img {
        height: 100%;
        margin-right: $space * 2;
        object-fit: cover;
        filter: brightness(50%);
      }
    }
  }

  @media screen and (max-width: 930px) {
    height: 150px;
  }

  @media screen and (max-width: 600px) {
    height: 170px;
    .title {
      padding-left: $space*2;
      img {
        display: none;
      }
    }
  }

  @media screen and (max-width: 414px) {
    // height: 250px;
    .title {
      padding: $space
    }
  }
}